@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("./showCase.css");
@import url("./nav.css");
@import url("./designers.css");
@import url("./packages.css");
@import url("./contact.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  font-size: 16px;
  --side-bar: rgb(238, 81, 20);
}
a {
  padding: 1vh 1vw;
  text-decoration: none;
  color: white;
  transition: 1s;
}
a:hover{
  background-color: gray;
  border-radius:10px ;
}

.main-container {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 20vw 3vw 77vw;
  grid-template-rows: 5vh 95vh;
}

